{% extends 'base.html.twig' %}

{% block title %}Tutoriels Vidéos Résonance{% endblock %}

{% block body %}


<div class="content-body remarged-body-h body-tuto">
	<a class="retourbtn" href='javascript:history.back()'><img src='{{ asset('images/left-arrow-key.png') }}' /></a>
    <h1>{{ tutorial.title }}</h1>
    <p class="date-publication">Publié le {{ tutorial.PublishAt|date('d-m-y') }}</p>
    <div class="single-tutoriel">
      <p>{{ tutorial.content|raw }}</p>

      {{ tutorial.VideoLink|iframetuto  }}
    </div>
    <div class="nextprevtuto">
    	
	    <div class="prevtuto">
            {% if PrevTutorial is defined and PrevTutorial is not null %}
	    		<p>Précédent tutoriel : <a href='{{ path("show_tutoriel", {"slug": PrevTutorial.slug , "name" : CategoryTutorial}) }}'>{{ PrevTutorial.title }}</a>
	    		</p>
            {% endif %}
	    </div>
        	
    	<div class="nexttuto">
            {% if NextTutorial is defined and NextTutorial is not null %}
        		<p>Prochain tutoriel : <a href='{{ path("show_tutoriel", {"slug": NextTutorial.slug , "name" : CategoryTutorial}) }}'>{{ NextTutorial.title }}</a>
        		</p>
            {% endif %}
		</div>
		
	</div>
</div>
{% endblock %}
